.manage-doctor-schedule{
    background-color: #fff;
    .header-manage{
        text-align: center;
        align-items: center;
        h5{
            font-weight: 600!important;
            font-size: 1.3em;
        }
       
       
    }
}