.history-container{
    background-color: #fff;
    .header-history{
        text-align: center;
        align-items: center;
        h5{
            font-weight: 600!important;
            font-size: 1.3em;
            padding-top: 20px;
        }
    }
}