.view-more-container{
    background-color: #fff;
    .view-more-header{
        height: 60px;
        width: 100%;
        background-color: linear-gradient(rgba(0, 0, 0, 0.25),rgba(255, 255, 255, 0.1));
        background:#45c3d2;
        padding-left: 10%;
        padding-right: 10%;
        position:fixed;
        .icon-back{
            height: 30px;
            width: 30px;
            float: left;
            margin-top: 15px;
            margin-right: 10px;
            cursor: pointer;
        }
        h4{
            font-weight: 600;
            float: left;
            padding-top: 15px;
        }
    }
    .view-content{
        padding-left: 20px;
        padding-top: 60px;
        .find-doctor{
            .doctor-option{
                cursor: pointer;
                img{
                    width: 60px;
                    height: 60px;
                    margin-right: 10px;
                }
             
             
            }
        }
        .view-specialty{
            display: flex;
            border-top: 1px solid #eee;
            .image-specialty{
                height: 120px;
                width: 120px;
                padding: 10px;
            }
            .name-specialty{
                padding-top: 10px;
            }
        }

    }
    p{
        font-weight: 600;
        padding-top: 30px;
    }
}